@color-primary: cyan;

@color-sec: red;

h1{
  color:@color-primary;
  text-align:center;
}

h3{
	color:@color-sec;
}

a:hover{
	color:green;
}

main{
	
	width: 600px;
	margin-left: 30%;
}

nav{
	
	flaot:left;
	width : 100px;
	height:200px;
	background-color:grey;
	display: block;
}