@color-primary: cyan;

@color-sec: red;
@column-width    : unit((96px / @font-root), rem);
@font-root       : 16px;

.main {
	width : 940px;


}
.main > div {
	float : left;
	margin : 0 15px;
}


.clear { clear : both ; }

.wrapper(@cols){
	

	width: @column-width * @cols;
	margin-left: auto;
	margin-right: auto;
}

h1{
  color:@color-primary;
  text-align:center;
}

h3{
	color:@color-sec;
}

a:hover{
	color:green;
}


.menu{
	width : 140px;
	height:auto;
	float:left;


}
.menu a{
	text-decoration:none;
	color:blue;


}

.btn{
	display:block;
	margin-top:15px;
}

.menu a:hover{
color:red;
}

footer{
clear:both;
	width:940;
}

.etc { width : 940px; }


.content { width : 780px; img{width:500px;height:auto; margin:5px;} float:right;}



@media only screen and (min-width:500px) and (max-width:980px) {

.main {
		width : 100%;
	}
	.main > div { 
		margin : 0 0.5%;
	}

	.menu{width : 15.6%; float:left;clear:both; }

	.content { width : 84%; img{width:100%; height:auto;margin:5px;} }

	.etc { width : 82.3%; }
}


@media only screen and (max-width:500px) {
.main {
		width : 100%;
	}
	.main > div { 
		margin : 0 1%;
	}

	.content, .etc, .menu{ 
		width : 98%; 
		float : none;
		img{width:98%;
		height:auto;
		margin-right:5px;}
	}
}